/* The following CSS was made in part by josetzunun */


/* Dropdown voice call region changer */
.theme-dark .quickSelectPopout-X1hvgV {background: var(--backdrop-overlay);}

/* Stream Ended background */
.theme-dark .container-2oTpPc, .root-25RxKh {background: transparent;}

.theme-dark .previewContainer-12UIHI{background: transparent;}
